.button {
    background: red;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.value {
    font-size: 50px;
}
.icon {
    // color: green;
    path {
        fill: red;
    }

}
